
{% extends "layout_cel.html" %}

{% block head %}
<title>Códigos históricos</title>

{% endblock %}
{%block body %}
<body>
<script type="text/javascript" class="init">

$(document).ready(function() {
	$('#dtOrderQRH').DataTable({
        "order": [[ 2, "asc" ]]
    });
} );

</script>
<script type="text/javascript" class="init">
$.extend( true, $.fn.dataTable.defaults, {
    "language": {
        "decimal": ",",
        "thousands": ".",
        "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
        "infoPostFix": "",
        "infoFiltered": "(filtrado de un total de _MAX_ registros)",
        "loadingRecords": "Cargando...",
        "lengthMenu": "Mostrar _MENU_ registros",
        "paginate": {
            "first": "Primero",
            "last": "Último",
            "next": "Siguiente",
            "previous": "Anterior"
        },
        "processing": "Procesando...",
        "search": "Buscar:",
        "searchPlaceholder": "Término de búsqueda",
        "zeroRecords": "No se encontraron resultados",
        "emptyTable": "Ningún dato disponible en esta tabla",
        "aria": {
            "sortAscending":  ": Activar para ordenar la columna de manera ascendente",
            "sortDescending": ": Activar para ordenar la columna de manera descendente"
        },
        //only works for built-in buttons, not for custom buttons
        "buttons": {
            "create": "Nuevo",
            "edit": "Cambiar",
            "remove": "Borrar",
            "copy": "Copiar",
            "csv": "fichero CSV",
            "excel": "tabla Excel",
            "pdf": "documento PDF",
            "print": "Imprimir",
            "colvis": "Visibilidad columnas",
            "collection": "Colección",
            "upload": "Seleccione fichero....",

        },
        "select": {
            "rows": {
                _: '%d filas seleccionadas',
                0: 'clic fila para seleccionar',
                1: 'una fila seleccionada'
            }
        }
    }
} );
</script>
<section>
    <div>
        <a class="btn btn-primary btn-sm align-middle" href="/crearqr" type="button">Regresar</a>
    </div>

</section><br>

</div>
<br>
<section>
    <div style="width:90%; margin:0 auto;">
    <table id="dtOrderQRH" class="table table-striped table-bordered table-sm table-responsive" cellspacing="0" width="100%">
      <!-- Table head -->
      <thead>
        <tr>
            <th>Visitante</th>
            <th>Entrada</th>
            <th>Salida</th>
        </tr>
      </thead>
      <!-- Table head -->

      <!-- Table body -->
      <tbody>
            {% for codigoh in qrh %}
             <tr>
                 <td><a href=# data-toggle="modal" data-target='#editqrh{{ codigoh.id_qr }}'>{{codigoh.Nombre}}</a></td>
                 <td><a>{{codigoh.Entrada}}</a></td>
                 <td><a>{{codigoh.Salida}}</a></td>

             </tr>
    <div class="modal fade" id="editqrh{{ codigoh.id_qr }}" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form method="post" action="actqrh">
					<div class="modal-header">
						<h4 class="modal-title">Información</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					 <div class="modal-body">
                         <div class="form-group">
                            <label>Nombre</label>
                            <input disabled type="text" class="form-control" value="{{ codigoh.Nombre }}" name="codigovisitanteh">
                         </div>
                         <div class="form-group">
                            <label>Email</label>
                            <input disabled  type="email" value="{{ codigoh.email_qr }}" name="codigoemailvisitanteh" class="form-control">
                         </div>
                         <div class="form-group">
                            <label>Placas</label>
                            <input disabled type="Text" class="form-control" value="{{ codigoh.placas }}" name="codigoplacash">
                         </div>
                         <div class="form-group">
                            <label>Valido Desde</label>
                            <input disabled type="Text" class="form-control" value="{{ codigoh.Entrada }}" name="codigoEntradah">
                            <label>Hasta</label>
                            <input disabled type="Text" class="form-control" value="{{ codigoh.Salida }}" name="codigoSalidah">
                         </div>
                               <div class="form-group">
                                    <label>Estado</label>
                                    <input disabled type="Text" class="form-control" value="{{ codigoh.estado }}" name="codigoEstadoh">
                               </div>
                                 <div class="form-group">
                                    <label>Estado Acceso</label>
                                    <input disabled type="Text" class="form-control" value="{{ codigoh.estado_acceso }}" name="codigoEstadoaccesoh">
                               </div>


                                <div class="form-group">
                                   <input type="hidden" name="idqrhiddenh" value="{{codigoh.id_qr}}">
                                </div>
                                <div class="form-group">
                                   <input type="hidden" name="qrhiddenh" value="{{codigoh.codigo_qr}}">
                                </div>
                                <div class="form-group">
                                   <input type="hidden" name="starthiddenh" value="{{codigoh.Entrada}}">
                               </div>
                               <div class="form-group">
                                   <input type="hidden" name="endhiddenh" value="{{codigoh.Salida}}">
                               </div>
                      </div>

					<div class="modal-footer">
						<input type="button" class="btn btn-default" name="cerrarqrhgestion"  data-dismiss="modal" value="Cerrar">
                    </div>



				</form>
			</div>
		</div>
	</div>
      <script>

     $(document).ready(function($) {
        $("#actqrh").on("click", "a", function(event) {
        event.preventDefault();
        jQuery.noConflict();
        $('#editqrh').modal('show');

      });
    });

       </script>
            {% endfor %}
            {% for message in get_flashed_messages(category_filter=["danger"]) %}
                        <div class="alert alert-danger" role="alert">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}

                        </div>
                    {% endfor %}
                    {% for message in get_flashed_messages(category_filter=["success"]) %}
                        <div class="alert alert-success" role="alert">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}

                        </div>
            {% endfor %}
      </tbody>



    </table>
    </div>
</section>
<section>

<script>
        $(document).ready(function() {
        var messages = "{{ get_flashed_messages() }}";

        if (typeof messages != 'undefined' && messages != '[]') {
        $("#editqrh").modal();
            };
        });
    </script>
<script>
       $('#cerrarqrhgestion').click(function() {
    $('#editqrh').modal('hide');
    sendEvent('#edit', 1);
    $('#editqrh').on('hidden.bs.modal', function(e) {
        $(this).removeData();
    }) ;
});
</script>
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>

</body>

{% endblock %}

