
{% extends "layout_cel.html" %}

{% block head %}
<title>Generar Códigos QR</title>

{% endblock %}
{%block body %}
<body>
<script type="text/javascript" class="init">

$(document).ready(function() {
	$('#dtOrderQR').DataTable({
        "order": [[ 2, "asc" ]]
    });
} );

</script>
<script type="text/javascript" class="init">
$.extend( true, $.fn.dataTable.defaults, {
    "language": {
        "decimal": ",",
        "thousands": ".",
        "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
        "infoPostFix": "",
        "infoFiltered": "(filtrado de un total de _MAX_ registros)",
        "loadingRecords": "Cargando...",
        "lengthMenu": "Mostrar _MENU_ registros",
        "paginate": {
            "first": "Primero",
            "last": "Último",
            "next": "Siguiente",
            "previous": "Anterior"
        },
        "processing": "Procesando...",
        "search": "Buscar:",
        "searchPlaceholder": "Término de búsqueda",
        "zeroRecords": "No se encontraron resultados",
        "emptyTable": "Ningún dato disponible en esta tabla",
        "aria": {
            "sortAscending":  ": Activar para ordenar la columna de manera ascendente",
            "sortDescending": ": Activar para ordenar la columna de manera descendente"
        },
        //only works for built-in buttons, not for custom buttons
        "buttons": {
            "create": "Nuevo",
            "edit": "Cambiar",
            "remove": "Borrar",
            "copy": "Copiar",
            "csv": "fichero CSV",
            "excel": "tabla Excel",
            "pdf": "documento PDF",
            "print": "Imprimir",
            "colvis": "Visibilidad columnas",
            "collection": "Colección",
            "upload": "Seleccione fichero....",

        },
        "select": {
            "rows": {
                _: '%d filas seleccionadas',
                0: 'clic fila para seleccionar',
                1: 'una fila seleccionada'
            }
        }
    }
} );
</script>
<section>
    <div>
        <button class="btn btn-secondary btn-sm" type="button" data-toggle="modal" data-target="#ModalQR" >Crear QR</button>
        <a class="btn btn-primary btn-sm align-middle" href="/gestionqrhistorico" type="button">Histórico</a>
       <h6 style="font-size:50%;">*Los registros se crean en hora local del fraccionamiento</h6>
    </div>

</section><br>

</div>
<br>
<section>
    <div style="width:90%; margin:0 auto;">
    <table id="dtOrderQR" class="table table-striped table-bordered table-sm table-responsive" cellspacing="0" width="100%">
      <!-- Table head -->
      <thead>
        <tr>
            <th>Visitante</th>
            <th>Entrada</th>
            <th>Salida</th>
        </tr>
      </thead>
      <!-- Table head -->

      <!-- Table body -->
      <tbody>
            {% for codigo in qr %}
             <tr>
                 <td {% if codigo.estado == "Inactivo" %} style="color: #e73df; background: #F0D1C6;" {% endif %}><a href="#" data-toggle="modal" data-target='#editqr{{ codigo.id_qr }}'>{{codigo.Nombre}}</a></td>
                 <td {% if codigo.estado == "Inactivo" %} style="color: #e73df; background: #F0D1C6;" {% endif %}><a>{{codigo.Entrada}}</a></td>
                 <td {% if codigo.estado == "Inactivo" %} style="color: #e73df; background: #F0D1C6;" {% endif %}><a>{{codigo.Salida}}</a></td>

             </tr>
    <div class="modal fade" id="editqr{{ codigo.id_qr }}" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form method="post" action="/actqr">
					<div class="modal-header">
						<h4 class="modal-title">Información</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					 <div class="modal-body">
                         <div class="form-group">
                            <label>Nombre</label>
                            <input  type="text" class="form-control" value="{{ codigo.Nombre }}" name="codigovisitante">
                         </div>
                         <div class="form-group">
                            <label>Email</label>
                            <input  type="email" value="{{ codigo.email_qr }}" name="codigoemailvisitante" class="form-control">
                         </div>
                         <div class="form-group">
                            <label>Placas</label>
                            <input type="Text" class="form-control" value="{{ codigo.placas }}" name="codigoplacas">
                         </div>
                         <div class="form-group">
                            <label>Valido Desde</label>
                            <input type="Text" class="form-control" value="{{ codigo.Entrada }}" name="codigoEntrada">
                            <label>Hasta</label>
                            <input type="Text" class="form-control" value="{{ codigo.Salida }}" name="codigoSalida">
                         </div>
                               <div class="form-group">
                                   <label>Estado</label>
                                   <Select class="custom-select" id={{codigo.id_qr}} name="mycheckboxQR">
                                       <option Selected value="{{codigo.estado}}">{{codigo.estado}}</option>
                                       <option value="Activo">Activo</option>
                                       <option value="Inactivo">Inactivo</option>
                                       <label class="custom-control-label" for={{codigo.id_qr}}></label>
                                    </Select>
                               </div>


                               <div class="form-group">
                                   <input type="hidden" name="idqrhidden" value={{codigo.id_qr}}>
                               </div>
                               <div class="form-group">
                                   <input type="hidden" name="testhidden" value={{codigo.fin_real}}>
                               </div>
                      </div>

					<div class="modal-footer">
						<input type="button" class="btn btn-default" name="cerrarqrgestion"  data-dismiss="modal" value="Cerrar">
                        <button type="submit" name="verqr" id="verqr" class="btn btn-primary" style="width:100px"><i class="fa fa-qrcode"></i> Ver</button>
                        <button type="submit" name="actqr" id="actqr" class="btn btn-primary" style="width:100px"><i class="fa fa-check"></i> Enviar</button>
					</div>

				</form>
			</div>
		</div>
	</div>
      <script>

     $(document).ready(function($) {
        $("#actqr").on("click", "a", function(event) {
        event.preventDefault();
        jQuery.noConflict();
        $('#editqr').modal('show');

      });
    });

       </script>
            {% endfor %}
            {% for message in get_flashed_messages(category_filter=["danger"]) %}
                        <div class="alert alert-danger" role="alert">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}

                        </div>
                    {% endfor %}
                    {% for message in get_flashed_messages(category_filter=["success"]) %}
                        <div class="alert alert-success" role="alert">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}

                        </div>
            {% endfor %}
      </tbody>



    </table>
    </div>
</section>
<section>
<div class="modal fade" id="ModalQR" tabindex="1" role="dialog" aria-labelledby="FormModal" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Crear QR</h1>
            </div>
            <div class="modal-body">
              <form id="IndFormqr" action="/crearqr" class="" method="post">
                  <div class="form-group">
                        <div class="panel-body">
                            <label for="nombreqr" class="col-12 col-form-label">Nombre:</label>
                                <div class="col-sm-8">
                            <input required class="form-control-sm" type="text" id="nombreqr" name="nombreqr"/>
                                </div>
                             <label for="emailqr" class="col-12 col-form-label">Email:</label>
                                <div class="col-sm-8">
                            <input class="form-control-sm" type="text" id="emailqr" name="emailqr"/>
                                </div>
                             <label for="placasqr" class="col-12 col-form-label">Placas:</label>
                                <div class="col-sm-8">
                            <input class="form-control-sm" type="text" id="placasqr" name="placasqr"/>
                                </div>
                        </div>

                  </div>
                      <br>
                      <div class="form-group">
                          <div id="acordionqr2" class="panel-group">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <button class="btn btn-secondary btn-sm" type="button" data-target="#panelbodytwo" data-toggle="collapse" data-parent="#acordionqr2">
                                            Información QR
                                        </a>
                                    </h4>
                                </div>
                                <div id="panelbodytwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <label for="dateE">Entrada:</label>
                                        <input class="col-12 form-control-sm" type="datetime-local" min="today" id="dateE" name="dateE"/>
                                        <br>
                                        <label for="dateS">Salida:  </label>
                                        <input class="col-12 form-control-sm" type="datetime-local" id="dateS" name="dateS"/>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                            <label class="form-check-label" for="exampleCheck1">Recurrente</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                      </div>

                  <div class="modal-footer">
                      <div style="text-align:center;" class="form-group">
                          <input type="button" name="cerraruserqr" data-dismiss="modal" value="Cancelar"/>
                          <input type="submit" id="crearqr" name="crearqr" value="Crear QR"/>
                      </div>
                  </div>

                        {% for message in get_flashed_messages(category_filter=["danger"]) %}
                        <div class="alert alert-danger" role="alert">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}

                        </div>
                        {% endfor %}
                        {% for message in get_flashed_messages(category_filter=["success"]) %}
                        <div class="alert alert-success" role="alert">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}

                        </div>
                        {% endfor %}


                </form>
             </div>
        </div>
    </div>
</div>
</section>
<script>
        $(document).ready(function() {
        var messages = "{{ get_flashed_messages() }}";

        if (typeof messages != 'undefined' && messages != '[]') {
        $("#editqr").modal();
            };
        });
    </script>
<script>
       $('#cerrarqrgestion').click(function() {
    $('#editqr').modal('hide');
    sendEvent('#edit', 1);
    $('#editqr').on('hidden.bs.modal', function(e) {
        $(this).removeData();
    }) ;
});
</script>
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>

</body>

{% endblock %}

