
{% extends "layout.html" %}

{% block head %}
<title>Gestión de Usarios</title>

{% endblock %}
{%block body %}

<script type="text/javascript" class="init">

$(document).ready(function() {
	$('#dtOrderExample').DataTable();
} );

</script>
<script type="text/javascript" class="init">
$.extend( true, $.fn.dataTable.defaults, {
    "language": {
        "decimal": ",",
        "thousands": ".",
        "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
        "infoPostFix": "",
        "infoFiltered": "(filtrado de un total de _MAX_ registros)",
        "loadingRecords": "Cargando...",
        "lengthMenu": "Mostrar _MENU_ registros",
        "paginate": {
            "first": "Primero",
            "last": "Último",
            "next": "Siguiente",
            "previous": "Anterior"
        },
        "processing": "Procesando...",
        "search": "Buscar:",
        "searchPlaceholder": "Término de búsqueda",
        "zeroRecords": "No se encontraron resultados",
        "emptyTable": "Ningún dato disponible en esta tabla",
        "aria": {
            "sortAscending":  ": Activar para ordenar la columna de manera ascendente",
            "sortDescending": ": Activar para ordenar la columna de manera descendente"
        },
        //only works for built-in buttons, not for custom buttons
        "buttons": {
            "create": "Nuevo",
            "edit": "Cambiar",
            "remove": "Borrar",
            "copy": "Copiar",
            "csv": "fichero CSV",
            "excel": "tabla Excel",
            "pdf": "documento PDF",
            "print": "Imprimir",
            "colvis": "Visibilidad columnas",
            "collection": "Colección",
            "upload": "Seleccione fichero...."
        },
        "select": {
            "rows": {
                _: '%d filas seleccionadas',
                0: 'clic fila para seleccionar',
                1: 'una fila seleccionada'
            }
        }
    }
} );
</script>
</table>
<!-- Table  -->
<section>
    <form action="" class="" method="post">
    <table id="dtOrderExample" class="table table-striped table-bordered table-sm table-responsive" cellspacing="0" width="100%">
      <!-- Table head -->
      <thead>
        <tr>
          <th>Activo</th>
          <th>Correo</th>
          <th>Nombre</th>
          <th>Dirección</th>
        </tr>
      </thead>
      <!-- Table head -->

      <!-- Table body -->
      <tbody>
            {% for usuario in usuarios %}
             <tr>
                 <td scope="row">
                     <div class="custom-control custom-checkbox">
                         <input type="checkbox" class="custom-control-input" id={{usuario.email}} name="mycheckbox"  value={{usuario.status}} {{'checked' if usuario.status == "Activo" else ''}}>
                         <label class="custom-control-label" for={{usuario.email}}></label>
                <td><a name="elcorreo" value={{usuario.email}} href="mailto:{{usuario.email}}">{{usuario.email}}</td>
                <td><a>{{usuario.nombre}}</a></td>
                <td><a>{{usuario.domicilio}}</a></td>
             </tr>
            {% endfor %}
      </tbody>



    </table>
    </form>
</section>
<script type="text/javascript">
$(document).ready(function(){
    var $mycheckbox = $('input[name="mycheckbox"]');
    $mycheckbox.change(function() {
        var ids = $(this).prop('id');
        $.ajax({
            url: '/actusuario',
            data: {'data':ids},
            type: 'POST',
            timeout: 500,
            success: function(response) {
                console.log(response);
               },
               error: function(error) {
                console.log(error);
               }
         });
       });

     });

</script>
{% endblock %}

