
{% extends "layout.html" %}

{% block head %}
<title>Gestión de Usarios</title>
{% endblock %}
{%block body %}
<script type="text/javascript" class="init">

$(document).ready(function() {
	$('#dtOrderExample').DataTable();
} );

	</script>
</table>
<!-- Table  -->
    <table id="dtOrderExample" class="table table-striped table-bordered table-sm table-responsive" cellspacing="0" width="100%">
      <!-- Table head -->
      <thead>
        <tr>
          <th>Activo</th>
          <th>Correo</th>
          <th>Nombre</th>
          <th>Dirección</th>
        </tr>
      </thead>
      <!-- Table head -->

      <!-- Table body -->
      <tbody>


            {% for usuario in usuarios %}
             <tr>
                 <td scope="row">
                     <div class="custom-control custom-checkbox">
                         <input type="checkbox" class="custom-control-input" id="tableDefaultCheck2" checked>
                        <label class="custom-control-label" for="tableDefaultCheck2">{{usuarios.status}}</label>
                <td><a href="mailto:{{usuario.email}}">{{usuario.email}}</td>
                <td><a>{{usuario.nombre}}</a></td>
                <td><a>{{usuario.domicilio}}</a></td>
             </tr>
            {% endfor %}


      </tbody>
    </table>


{% endblock %}

