{% extends "layout.html" %}

{% block head %}
<title>Ventas</title>
{% endblock %}
{%block body %}

<section class="container-fluid">
    <section class="row">
        <section class="col-12 col-sm-6 col-md-3">
            <form action="" class="" method="post">
              <div class="form-group">
                <label for="namecoto">Nombre de coto:</label>
                <td><input class="col-12 form-control-sm" type="text" id="namecoto" name="namecoto"/>
              </div>
                <div class="form-group">
                <label for="domiciliocoto">Dirección coto:</label>
                <input class="col-12 form-control-sm" type="text"  id="domiciliocoto" name="domiciliocoto"/>
              </div>
                <div class="form-group">
                <label for="nombreadmin">Contacto:</label>
                <input class="col-12 form-control-sm" type="text"  id="nombreadmin" name="nombreadmin"/>
              </div>
              <div class="form-group">
                <label for="correoadmin">Correo Contacto:</label>
                <input class="col-12 form-control-sm" type="email"  id="correoadmin" name="correoadmin"/>
              </div>
                    <div class="form-group">
                <label for="nombreadmin2">Contacto 2:</label>
                <input class="col-12 form-control-sm" type="text"  id="nombreadmin2" name="nombreadmin2"/>
              </div>
              <div class="form-group">
                <label for="correoadmin2">Correo Contacto 2:</label>
                <input class="col-12 form-control-sm" type="email"  id="correoadmin2" name="correoadmin2"/>
              </div>
                    <div class="form-group">
                <label for="nombreadmin3">Contacto 3:</label>
                <input class="col-12 form-control-sm" type="text"  id="nombreadmin3" name="nombreadmin3"/>
              </div>
              <div class="form-group">
                <label for="correoadmin3">Correo Contacto 3:</label>
                <input class="col-12 form-control-sm" type="email"  id="correoadmin3" name="correoadmin3"/>
              </div>

                   <input type="submit" id="send-signup" name="crearqr" value="Registrar"/>
                   {% for message in get_flashed_messages() %}
                        <div class="alert alert-warning">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}
                            </div>
                         {% endfor %}
            </form>
        </section>
    </section>

</section>


{% endblock %}

