{% extends "layout.html" %}

{% block head %}
<title>Ventas</title>
{% endblock %}
{%block body %}

section class="container-fluid">
    <section class="row">
        <section class="col-12 col-sm-6 col-md-3">
            <form action="" class="" method="post">
              <div class="form-group">
                <label for="namecoto">Nombre de coto:</label>
                <td><input class="col-12 form-control-sm" type="text" id="namecoto" name="namecoto"/>
              </div>
                <div class="form-group">
                <label for="domiciliocoto">Dirección coto:</label>
                <input class="col-12 form-control-sm" type="text"  id="domiciliocoto" name="domiciliocoto"/>
              </div>
                <div class="form-group">
                <label for="nombreadmin">Dirección coto:</label>
                <input class="col-12 form-control-sm" type="text"  id="nombreadmin" name="nombreadmin"/>
              </div>
              <div class="form-group">
                <label for="correoadmin">Correo Administrador:</label>
                <input class="col-12 form-control-sm" type="email"  id="correoadmin" name="correoadmin"/>
              </div>
                <div class="form-group">
                <label for="dateS">Salida:  </label>
                <input class="col-12 form-control-sm" type="datetime-local" id="dateS" name="dateS"/>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Recurrente</label>
              </div><br>
                   <input type="submit" id="send-signup" name="crearqr" value="Registrar"/>
                   {% for message in get_flashed_messages() %}
                        <div class="alert alert-warning">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}
                            </div>
                         {% endfor %}
            </form>
        </section>
    </section>

</section>


{% endblock %}

