{% extends "main/layout.html" %}
{% block head %}

<title>Detalles</title>
<meta charset="UTF-8">

{% endblock %}
{%block body %}

<!DOCTYPE html>
<html>
<head>
    <script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
    </script>
</head>

<body>

<div class="shadow p-3 mb-3 bg-light rounded">
    <a class="btn btn-outline-primary btn-sm" href="/comunicados" type="button">< Regresar</a>
</div>
 <div class="form-group">
      <div id="acordioncomunicados" class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="shadow p-3 mb-3 bg-light rounded">
                    <a class="font-weight-bold" data-target="#panelbodycomunicado" data-toggle="collapse" data-parent="#acordioncomunicados"><u>{{ titulo }} </u> </a>
                </div>
            </div>
            <div id="panelbodycomunicado" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="shadow p-3 mb-3 bg-light rounded">
                        <span>{{ mensaje }}</span><br>
                        {% if tipo == "Encuesta" %}
                         <div class="btn-group">
                            <button type="button" class="btn btn-primary" data-toggle="tooltip" title={{ resp_a }}> A  {{ contopa }}</button>
                            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                            </button>
                            <div class="dropdown-menu">
                                {% for entry in opa %}
                              <a class="dropdown-item" href="#">{{entry.opa}}</a>
                                {% endfor %}
                            </div>
                          </div>
                          <div class="btn-group">
                            <button type="button" class="btn btn-secondary" data-toggle="tooltip" title={{ resp_b }}> B  {{ contopb }}</button>
                            <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                            </button>
                            <div class="dropdown-menu">
                               {% for entry in opb %}
                              <a class="dropdown-item" href="#">{{entry.opb}}</a>
                                {% endfor %}
                            </div>
                          </div>

                          <div class="btn-group">
                            <button type="button" class="btn btn-success" data-toggle="tooltip" title={{ resp_c }}> C {{ contopc }}</button>
                            <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                            </button>
                            <div class="dropdown-menu">
                               {% for entry in opc %}
                              <a class="dropdown-item" href="#">{{entry.opc}}</a>
                                {% endfor %}
                            </div>
                          </div>

                          <div class="btn-group">
                            <button type="span" class="btn btn-info" data-toggle="tooltip" title={{ resp_d }}>D  {{ contopd }}</button>
                            <button type="span" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                            </button>
                            <div class="dropdown-menu">
                              {% for entry in opd %}
                              <a class="dropdown-item" href="#">{{entry.opd}}</a>
                                {% endfor %}
                            </div>
                          </div>

                        {% endif %}
                         </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
 </div>
<div class="shadow p-3 mb-3 bg-light rounded">
<section>
    <h4> {% if tipo == "Comunicado" %} Leidos {% elif tipo == "Encuesta" %} Resultados {% endif %}</h4>
 <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
    <canvas id="chart" width="300" height="200"></canvas>
    <script>
      var pieData = [
        {% for item, label, colors in set %}
          {
            value: {{item}},
            label: "{{label}}",
            color : "{{colors}}"
          },
        {% endfor %}
      ];

      // get bar chart canvas
      var mychart = document.getElementById("chart").getContext("2d");
      steps = 10
      max = {{ max }}

      // draw pie chart
      new Chart(document.getElementById("chart").getContext("2d")).Pie(pieData);

    </script>


</section>
<section>
    <div class="form-group">
        <div id="acordionqr2" class="panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <button class="btn btn-secondary btn-sm" type="button" data-target="#panelbodytwo" data-toggle="collapse" data-parent="#acordionqr2">Detalles</button>
                </div>
                <br>
                <div id="panelbodytwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                             <div>
                                 <table id="dtOrdercomunicadosleido" class="table table-striped table-bordered table-sm table-responsive" cellspacing="0" width="100%">
                                     <thead>
                                        <tr>
                                            <th>Leido {{ contleidopor }}</th>
                                        </tr>
                                     </thead>
                                     <tbody>
                                     {% for leido in leidopor %}
                                        <tr>
                                            <td>
                                                <a>{{ leido.leidopor }}</a>
                                            </td>
                                        </tr>
                                     {% endfor %}
                                     </tbody>
                                 </table>
                             </div>
                             &nbsp
                             &nbsp
                             <div>
                                 <table id="dtOrdercomunicados" class="table table-striped table-bordered table-sm table-responsive" cellspacing="0" width="100%">
                                     <thead>
                                        <tr>
                                            <th>No leido {{ contnoleidopor }}</th>
                                        </tr>
                                     </thead>
                                     <tbody>
                                     {% for noleido in noleidopor %}
                                        <tr>
                                            <td>
                                                <a>{{ noleido.noleidopor }}</a>
                                            </td>
                                        </tr>
                                     {% endfor %}
                                     </tbody>
                                 </table>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
     </div>
</section>
</div>
</body>
</html>

{% endblock %}