{% extends "mainlayout.html" %}

{% block head %}
<title>Crear usuario</title>
{% endblock %}
{%block body %}
<div class="modal fade" id="Modaluser" tabindex="1" role="dialog" aria-labelledby="FormModal" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Crear usuario</h1>
            </div>
            <div class="modal-body">
              <form id="IndForm" action="/crearInd" class="" method="post">
                  <div class="form-group">
                      <label for="correo" class="col-sm-2 col-form-label">Email:</label>
                      <div class="col-sm-8">
                        <input class="form-control-sm" type="email" id="correo" name="correo"/>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="direccion" class="col-sm-2 col-form-label">Dirección:</label>
                      <div class="col-sm-8">
                          <input class="form-control-sm" type="text" id="direccion" name="direccion"/>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="telefono" class="col-sm-2 col-form-label">Teléfono:</label>
                      <div class="col-sm-8">
                          <input class="form-control-sm" type="text" id="telefono" name="telefono"/>
                      </div>
                  </div>
                  <div style="margin:15px;" class="form-group">
                      <input style="center" type="checkbox" class="form-check-input" name="checkguardia" id="checkguardia"/>
                      <label class="form-check-label" for="checkguardia">Seguridad</label>
                  </div>
                  <div style="margin:15px;" class="form-group">
                      <input type="checkbox" class="form-check-input" name="checkadmin" id="checkadmin"/>
                      <label class="form-check-label" for="checkadmin">Administrador</label>
                  </div>
                  <div class="modal-footer">
                      <div style="text-align:center;" class="form-group">
                          <input type="submit" name="cerraruser" data-dismiss="modal" value="Cancelar"/>
                          <input type="submit" id="send-signup" name="crearusuarioindividual" value="Crear Usuario"/>
                      </div>
                  </div>

                            {% for message in get_flashed_messages(category_filter=["danger"]) %}
                        <div class="alert alert-danger" role="alert">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}

                        </div>
                       {% endfor %}
                            {% for message in get_flashed_messages(category_filter=["success"]) %}
                        <div class="alert alert-success" role="alert">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}

                        </div>
                        {% endfor %}


                </form>
             </div>
        </div>
    </div>
</div>
<div>
    <button class="btn btn-default" data-toggle="modal" data-target="#Modaluser" type="button">Iniciar</button>
</div>
<script>
 $(document).ready(function() {
    var messages = "{{ get_flashed_messages() }}";

    if (typeof messages != 'undefined' && messages != '[]') {
        $("#Modaluser").modal();
    };
});
</script>
<script>
       $('#closemodal').click(function() {
    $('#Modaluser').modal('hide');
    sendEvent('#demo-modal-3', 1);
    $('#Modaluser').on('hidden.bs.modal', function(e) {
        $(this).removeData();
    }) ;
});
</script>
{% endblock %}

