
{% extends "main/layout.html" %}

{% block head %}
<title>Configuración</title>


{% endblock %}
{%block body %}



<script type="text/javascript" class="init">

$(document).ready(function() {
	$('#dtOrderConfiguracion').DataTable({
        "order": [[ 2, "asc" ]]
    });
} );

</script>
<script type="text/javascript" class="init">
$.extend( true, $.fn.dataTable.defaults, {
    "language": {
        "decimal": ",",
        "thousands": ".",
        "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
        "infoPostFix": "",
        "infoFiltered": "(filtrado de un total de _MAX_ registros)",
        "loadingRecords": "Cargando...",
        "lengthMenu": "Mostrar _MENU_ registros",
        "paginate": {
            "first": "Primero",
            "last": "Último",
            "next": "Siguiente",
            "previous": "Anterior"
        },
        "processing": "Procesando...",
        "search": "Buscar:",
        "searchPlaceholder": "Término de búsqueda",
        "zeroRecords": "No se encontraron resultados",
        "emptyTable": "Ningún dato disponible en esta tabla",
        "aria": {
            "sortAscending":  ": Activar para ordenar la columna de manera ascendente",
            "sortDescending": ": Activar para ordenar la columna de manera descendente"
        },
        //only works for built-in buttons, not for custom buttons
        "buttons": {
            "create": "Nuevo",
            "edit": "Cambiar",
            "remove": "Borrar",
            "copy": "Copiar",
            "csv": "fichero CSV",
            "excel": "tabla Excel",
            "pdf": "documento PDF",
            "print": "Imprimir",
            "colvis": "Visibilidad columnas",
            "collection": "Colección",
            "upload": "Seleccione fichero....",

        },
        "select": {
            "rows": {
                _: '%d filas seleccionadas',
                0: 'clic fila para seleccionar',
                1: 'una fila seleccionada'
            }
        }
    }
} );
</script>
<section>
    <form action="" class="" method="post">
    <table id="dtOrderConfiguracion" class="table table-striped table-bordered table-sm table-responsive" cellspacing="0" width="100%">
      <!-- Table head -->
      <thead>
        <tr>
          <th>Activo</th>
          <th>Nombre</th>
          <th>Descripción</th>
        </tr>
      </thead>
      <!-- Table head -->

      <!-- Table body -->
      <tbody>
        <tr>
            <td scope="row">
                         <input type="checkbox" id="duraccionqr" name="mycheckboxdurqr"  data-toggle="toggle"  data-on="<i class='fa fa-check'></i>" data-off="<i class='fa fa-times'></i>" data-onstyle="primary" data-offstyle="secondary" data-width="40" data-height="20"  checked disabled>
            <td><a href="#" data-toggle="modal" data-target="#editduraccionqr">Configuración QR</a></td>
            <td><a>{{max_tpo_qr_unico}}</a></td>
        </tr>
        <div class="modal fade" id="editduraccionqr" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form method="post" action="/actconfduraccionqr">
					<div class="modal-header">
						<h4 class="modal-title">Configuración QR</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
                    <div class="modal-body">
                         <div class="form-group">
                            <label>Duración máxima QR</label>
                            <input type="text" class="form-control" value="{{ max_tpo_qr_unico }}" name="max_tpo_qr_unico">
                         </div>
                    </div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" name="cerrarconfduraccionqr"  data-dismiss="modal" value="Cerrar">
                        <button type="submit" name="actconfduraccionqr" id="actconfduraccionqr" value="actu" class="btn btn-primary" style="width:100px"> Actualizar</button>
                    </div>
                </form>
			</div>
		</div>
        </div>
            <tr>
            <td scope="row">
                         <input type="checkbox" id="activa_estacionamientos" name="$mycheckboxconf"  data-toggle="toggle"  data-on="<i class='fa fa-check'></i>" data-off="<i class='fa fa-times'></i>" data-onstyle="primary" data-offstyle="secondary" data-width="40" data-height="20" {% if activa_estacionamientos > 0 %} checked {% endif %}>
            <td><a href="#" data-toggle="modal" data-target="#editest">Configuración Estacionamientos</a></td>
            <td><a>{{num_estacionamiento}}</a></td>
        </tr>
        <div class="modal fade" id="editest" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form method="post" action="/actconfest">
					<div class="modal-header">
						<h4 class="modal-title">Configuración estacionamientos</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
                    <div class="modal-body">
                         <div class="form-group">
                            <label>Cantidad máxima de cajones</label>
                            <input type="text" class="form-control" value="{{num_estacionamiento}}" name="num_estacionamiento">
                         </div>
                    </div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" name="cerrarconfduraccionqr"  data-dismiss="modal" value="Cerrar">
                        <button type="submit" name="actconfest" id="actconfest" class="btn btn-primary" style="width:100px"> Actualizar</button>
                    </div>
                </form>
			</div>
		</div>
        </div>
        <tr>
             <td scope="row">
                     <input type="checkbox" id="activa_terraza" name="$mycheckboxconf"  value="id_terrazas" data-toggle="toggle"  data-on="<i class='fa fa-check'></i>" data-off="<i class='fa fa-times'></i>" data-onstyle="primary" data-offstyle="secondary" data-width="40" data-height="20" {% if activa_terraza > 0 %} checked {% endif %}>
            <td><a href="#" data-toggle="modal" data-target='#editconfterrazas'>Terrazas</a></td>
            <td><a>--</a></td>
        </tr>
        <div class="modal fade" id="editconfterrazas" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Terrazas</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
                    <div class="modal-body">
                        <form method="post" action="/actconfterraza">
                            <div class="overflow-scroll">
                                <div class="form-group">
                            {% for key, value in configuracion.items() %}

                                    <input hidden type="Text" name="idterrazahidden" id="idterrazahidden" value="{{key}}">
                                    <a class="list-group-item"  value="{{key}}") style="color: #fff; background: {{value}};" >{{key}}
                                        <button type="submit" name="actterrazas" value="{{key}}"  style="color: #fff;" class="close" aria-label="Close">
                                            <span value="{{key}}") aria-hidden="true">&times;</span>
                                        </button>
                                    </a>
                            {% endfor %}
                                </div>
                            </div>
                        </form>
                    </div>
                <form method="post" action="/actconfterraza2">
                    <div class="modal-body">

                            <div class="form-group">
                                    <label>Agregar terraza</label>
                                    <input type="Text" class="form-control" name="agregarterraza">
                            </div>
                            <div class="form-group">
                                <label>Agregar color de terraza</label>
                                    <select id="colorselector" class="custom-select" name="colorselector">
                                        <option value="#fd7e14" data-color="#fd7e14">Naranja</option>
                                        <option value="#6f42c1" data-color="#6f42c1">Morado</option>
                                        <option value="#e83e8c" data-color="#e83e8c">Rosa</option>
                                        <option value="#e74a3b" data-color="#e74a3b">Rojo</option>
                                        <option value="#858796" data-color="#858796">Grís</option>
                                        <option value="#f6c23e" data-color="#f6c23e">Amarillo</option>
                                        <option value="#1cc88a" data-color="#1cc88a">Verde</option>
                                        <option value="#FA8072" data-color="#FA8072">Salmon</option>
                                        <option value="#FFD700" data-color="#FFD700">Oro</option>
                                        <option value="#6A5ACD" data-color="#6A5ACD">Azul Pizarra</option>
                                        <option value="#808000" data-color="#808000">Oliva</option>
                                        <option value="#00FFFF" data-color="#00FFFF">Agua</option>
                                        <option value="#A52A2A" data-color="#A52A2A">Marrón</option>
                                        <option value="#F4A460" data-color="#F4A460">Marrón Arenoso</option>
                                        <option value="#DEB887" data-color="#DEB887">Madera Fuerte</option>
                                        <option value="#7B68EE" data-color="#7B68EE">Azul Pizarra Medio</option>
                                        <option value="#5F9EA0" data-color="#5F9EA0">Azul Cadete</option>
                                        <option value="#B0C4DE" data-color="#B0C4DE">Azul Acero Claro</option>
                                        <option value="#66CDAA" data-color="#66CDAA">Aguamarina Medio</option>
                                        <option value="#2F4F4F" data-color="#2F4F4F">Gris Pizarra Oscuro</option>
                                    </select>
                            </div>
                    </div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" name="cerrarusuariogestion"  data-dismiss="modal" value="Cerrar">
                        <button type="submit" name="actterrazas2" id="actterrazas2" class="btn btn-primary" style="width:100px"> Agregar</button>
                    </div>
                </form>
			</div>
		</div>
        </div>
        <tr>
            <td scope="row">
                         <input type="checkbox" id="activa_cobros" name="$mycheckboxconf"  value={{mensualidad}} data-toggle="toggle"  data-on="<i class='fa fa-check'></i>" data-off="<i class='fa fa-times'></i>" data-onstyle="primary" data-offstyle="secondary" data-width="40" data-height="20" {% if activa_cobros > 0 %} checked {% endif %}>
            <td><a href="#" data-toggle="modal" data-target="#editmensualidad">Gestión de cobros</a></td>
            <td><a>{{mensualidad}}</a></td>
        </tr>
        <div class="modal fade" id="editmensualidad" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form method="post" action="/actconfmens">
					<div class="modal-header">
						<h4 class="modal-title">Gestión de cobros</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
                    <div class="modal-body">
                         <div class="form-group">
                            <label>Mensualidad</label>
                            <input type="text" class="form-control" value="{{ mensualidad }}" name="mensualidad">
                         </div>
                         <div class="form-group">
                            <label>Día de corte</label>
                            <input type="text" disabled value="Primero del més" name="dia_de_corte" class="form-control" tooltip="Kwikin registra el día primero para corte.">
                         </div>
                         <div class="form-group">
                            <label>Días de gracia</label>
                            <input type="Text" class="form-control" value="{{ dias_de_gracia }}" name="dias_de_gracia">
                         </div>
                    </div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" name="cerrarconfmensualidad"  data-dismiss="modal" value="Cerrar">
                        <button type="submit" name="actconfmens" id="actconfmens"  class="btn btn-primary" style="width:100px"> Actualizar</button>
                    </div>
                </form>
			</div>
		</div>
        </div>
      <script>

     $(document).ready(function($) {
        $("#actusuarioinfo").on("click", "a", function(event) {
        event.preventDefault();
        jQuery.noConflict();
        $('#editusuario').modal('show');

      });
    });

       </script>
      {% for message in get_flashed_messages(category_filter=["danger"]) %}
                        <div class="alert alert-danger" role="alert">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}

                        </div>
                    {% endfor %}
      {% for message in get_flashed_messages(category_filter=["success"]) %}
                        <div class="alert alert-success" role="alert">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}

                        </div>
            {% endfor %}
      </tbody>
<script type="text/javascript">
$(dtOrderConfiguracion).ready(function(){
    var $mycheckboxconf = $('input[name="$mycheckboxconf"]');
    $mycheckboxconf.change(function() {
        var ids = $(this).prop('id');
        $.ajax({
            url: '/actconfcheckbox',
            data: {'data':ids},
            type: 'POST',
            timeout: 500,
            success: function(response) {
                console.log(response);
               },
               error: function(error) {
                console.log(error);
               }
         });
       });

     });

</script>



    </table>
    </form>

</section>

<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
<script>
       $('#closemodal').click(function() {
    $('#Modaluser').modal('hide');
    sendEvent('#Modaluser', 1);
    $('#Modaluser').on('hidden.bs.modal', function(e) {
        $(this).removeData();
    }) ;
});
</script>


{% endblock %}

