{% extends "main/layout.html" %}

{% block head %}
<title>Dashboard</title>


{% endblock %}
{% block body %}
<body>
<container>
<div class="embed-responsive-item" style="height:0;width:25%;padding-bottom:25%;background-color:#fff">
    <div>
        <center class="img-qr">
            <img style="height:60px;width:60px;margin-top:15px"  src="{{ url_for('.static', filename='img/Commons_QR_code.png') }}">
        </center>
        <br>

         <!--<div style="center" class="form-group">
            <input type="checkbox"  name="mycheckboxQR" data-toggle="toggle"  data-on="<i class='fa fa-check'></i> Activo" data-off="<i class='fa fa-times'></i> Inactivo" data-onstyle="outline-primary" data-offstyle="outline-secondary" data-width="112">
        </div>
        <div class="form-group">
            <input type="checkbox"  name="codigoentro" data-toggle="toggle" data-on="<i class='fa fa-car'></i> Entró" data-off="<i class='fa fa-arrow-right'></i> Salió" data-onstyle="primary" data-offstyle="secondary" data-width="120" >
        </div>
        -->
    </div>
</div>

</container>
    <div>
        <button type="button" class="btn btn-primary">Puerta 1</button>
    </div>
</body>
{% endblock %}