
{% extends "main/layout.html" %}

{% block head %}
<title>Gestión de Cobros</title>

{% endblock %}
{%block body %}
<body>
<script type="text/javascript" class="init">

$(document).ready(function() {
	$('#dtOrderEventos7').DataTable({
        "order": [[ 2, "asc" ]]
    });
} );

</script>
<script type="text/javascript" class="init">
$.extend( true, $.fn.dataTable.defaults, {
    "language": {
        "decimal": ",",
        "thousands": ".",
        "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
        "infoPostFix": "",
        "infoFiltered": "(filtrado de un total de _MAX_ registros)",
        "loadingRecords": "Cargando...",
        "lengthMenu": "Mostrar _MENU_ registros",
        "paginate": {
            "first": "Primero",
            "last": "Último",
            "next": "Siguiente",
            "previous": "Anterior"
        },
        "processing": "Procesando...",
        "search": "Buscar:",
        "searchPlaceholder": "Término de búsqueda",
        "zeroRecords": "No se encontraron resultados",
        "emptyTable": "Ningún dato disponible en esta tabla",
        "aria": {
            "sortAscending":  ": Activar para ordenar la columna de manera ascendente",
            "sortDescending": ": Activar para ordenar la columna de manera descendente"
        },
        //only works for built-in buttons, not for custom buttons
        "buttons": {
            "create": "Nuevo",
            "edit": "Cambiar",
            "remove": "Borrar",
            "copy": "Copiar",
            "csv": "fichero CSV",
            "excel": "tabla Excel",
            "pdf": "documento PDF",
            "print": "Imprimir",
            "colvis": "Visibilidad columnas",
            "collection": "Colección",
            "upload": "Seleccione fichero....",

        },
        "select": {
            "rows": {
                _: '%d filas seleccionadas',
                0: 'clic fila para seleccionar',
                1: 'una fila seleccionada'
            }
        }
    }
} );
</script>
<section>
    <div>
        <button class="btn btn-primary btn-sm" type="button" data-toggle="modal" data-target="#Modaluser">Agregar cargos</button>
    </div>
</section><br>
<section>
    <table id="dtOrderEventos7" class="table table-striped table-bordered table-sm table-responsive" cellspacing="0" width="100%">
      <!-- Table head -->
      <thead>
        <tr>
          <th>Activo</th>
          <th>Dirección</th>
          <th>Saldo Mensualidad</th>
          <th>Saldo Extraordinario</th>
        </tr>
      </thead>
      <!-- Table head -->

      <!-- Table body -->
      <tbody>
            {% for usuario in domicilios %}
             <tr>
                 <td scope="row">
                     <input type="checkbox" id={{usuario.id_dom}} name="mycheckbox"  value={{usuario.status}} data-toggle="toggle"  data-on="<i class='fa fa-check'></i>" data-off="<i class='fa fa-times'></i>" data-onstyle="primary" data-offstyle="secondary" data-width="40" data-height="20" {% if usuario.status == "Activo" %} checked {% endif %}>
                <td><a href="#" data-toggle="modal" data-target='#editdomicilio{{ usuario.id_dom }}'>{{usuario.direccion}}</a></td>
                <td><a>{{usuario.mensualidad}}</a></td>
                <td><a>{{usuario.extra}}</a></td>
             </tr>
                 <div class="modal fade" id="editdomicilio{{ usuario.id_dom }}" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form method="post" action="/actdomicilio">
                                <div class="modal-header">
                                    <h4 class="modal-title">Actualizar</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                </div>
                                <div class="modal-body">
                                     <div class="form-group">
                                        <label>Dirección</label>
                                        <input  type="text" class="form-control" value="{{ usuario.direccion }}" name="direccioncasa">
                                     </div>
                                     <div class="form-group">
                                        <input hidden type="Text"  value="{{ usuario.id_dom }}" name="idusuariohidden">
                                     </div>
                                </div>
                                <div class="modal-footer">
                                    <input type="button" class="btn btn-default" name="cerrarusuariogestion"  data-dismiss="modal" value="Cerrar">
                                    <button type="submit" name="actdomicilio" id="actdomicilio" class="btn btn-primary" style="width:100px"> Actualizar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                 </div>
                  <script>

                 $(document).ready(function($) {
                    $("#actdomicilio").on("click", "a", function(event) {
                    event.preventDefault();
                    jQuery.noConflict();
                    $('#editdomicilio').modal('show');

                  });
                });

                   </script>
                {% endfor %}

                        {% for message in get_flashed_messages(category_filter=["danger"]) %}
                            <div class="alert alert-danger" role="alert">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {{ message }}

                            </div>
                        {% endfor %}
                        {% for message in get_flashed_messages(category_filter=["success"]) %}
                            <div class="alert alert-success" role="alert">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {{ message }}

                            </div>
                        {% endfor %}
      </tbody>

    </table>
    </form>
</section>
<section>
<div class="modal fade" id="Modaluser" tabindex="1" role="dialog" aria-labelledby="FormModal" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Cargo</h1>
            </div>
            <div class="modal-body">
              <form id="IndForm" action="/crearcargo" class="" method="post">
                  <div class="form-group">
                      <label for="domdirigido" class="col-12 col-form-label">Dirigido a:</label>
                                    <select class="col-sm-6" name="domdirigido" id="domdirigido">
                                        <option value="Todos">Todos</option>
                                        {% for usuario in domicilios %}
                                        <option value="{{usuario.direccion}}">{{usuario.direccion}}</option>
                                        {% endfor %}
                                    </select>
                  </div>
                  <div class="form-group">
                      <label for="conceptoInd" class="col-sm-2 col-form-label">Concepto:</label>
                      <div class="col-sm-8">
                          <input class="form-control-sm" type="text" required maxlength = "25" id="conceptoInd" pattern="[^\\/:\x22*?<>|]+" name="conceptoInd"/>
                      </div>
                      <label for="cargoInd" class="col-sm-2 col-form-label">$:</label>
                      <div class="col-sm-8">
                          <input class="form-control-sm" required type="number" id="cargoInd" name="cargoInd"/>
                      </div>
                      <label for="fechalimite" class="col-sm-2 col-form-label">Fecha limite:</label>
                      <div class="col-sm-8">
                          <input class="form-control-sm" required type="date" id="fechalimite" name="fechalimite"/>
                      </div>
                  </div>

                  <div class="modal-footer">
                      <div style="text-align:center;" class="form-group">
                          <input type="submit" name="cerraruser" data-dismiss="modal" value="Cancelar"/>
                          <input type="submit" id="send-signup" name="creardomindividual" value="Crear cargo"/>
                      </div>
                  </div>


                </form>
             </div>
        </div>
    </div>
</div>
</section>


<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
<script>
       $('#closemodal').click(function() {
    $('#Modaluser').modal('hide');
    sendEvent('#Modaluser', 1);
    $('#Modaluser').on('hidden.bs.modal', function(e) {
        $(this).removeData();
    }) ;
});
</script>
<script type="text/javascript">
$(dtOrderEventos7).ready(function(){
    var $mycheckbox = $('input[name="mycheckbox"]');
    $mycheckbox.change(function() {
        var ids = $(this).prop('id');
        $.ajax({
            url: '/actdom',
            data: {'data':ids},
            type: 'POST',
            timeout: 500,
            success: function(response) {
                console.log(response);
               },
               error: function(error) {
                console.log(error);
               }
         });
       });

     });

</script>
{% endblock %}

